### Node template
# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Other
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
.prettierrc
.env.example
.fleet/
share/